services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - .env.production
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U costos_user -d costos"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: costos_app
    restart: unless-stopped
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy

    labels:
      - "traefik.enable=true"

      # Router HTTPS
      - "traefik.http.routers.app.rule=Host(`app.nicorodriguez.com.ar`)"
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.tls.certresolver=le"

      # Puerto interno de Next
      - "traefik.http.services.app.loadbalancer.server.port=3000"

volumes:
  postgres_data:
