services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: costos
      POSTGRES_USER: costos_user
      POSTGRES_PASSWORD: costos_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U costos_user -d costos"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: nextjs_app
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
